:root{

--color1: #212434; /*ebony clay*/


--color2: #3f446f;/* east bay*/


--color3: #FFD082;/*glandis*/


--color4: #bbb; /*silver*/


--color5: #ff8282; /* vivid tangerine*/


--color6:#FCC056; /* yellow font */



--color7: #d7d7d7; /*alto*/
}
