:root {

    --color1: #2595FD;

    --color2: #4EA9FD;

    --color3: #13151B;

    --color4: #21222D;

    --color5: #5F606D;

    --color6: #171821;


    --color7: #43444D;


    --color8: #9293A0;
}