.color1 {
    color: #212434;
}

.color2 {
    color: #3f446f;
}

.color3 {
    color: #FFD082;
}

.color4 {
    color: #bbb;
}

.color5 {
    color: #ff8282;
}

.color6 {
    color: #FCC056;
}


.color7{
    color:#d7d7d7;
}