@import url("./reset.css");
@import url("./style.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0");

body,
html {
  background-image: none;
  background-color: #1f2838;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

}

.carrossel-container {
  scroll-behavior: smooth;
  width: max-content;
  display: flex;

  align-items: center;
  position: relative;
  overflow-x: hidden;

}

.carrossel {
  display: flex;
  
}

.item {
  display: flex;
  background-color: gray;

  height: 30vh;
  padding: 1vw;
  margin: 1vw;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 203px;



}

.next:hover{

  opacity: 1;
}

.prev:hover{
  
  opacity: 1;
}


.prev,
.next {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-size: 24px;
  background: hsla(0, 0%, 8%, .5);
  border: none;
  color: #FCC056;
  width: 4%;
  font-weight: bolder;
  font-size: .85vw;
  cursor: pointer;
  position: fixed;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width:4%;
  height: 203px;
  
}

.prev{
  left: 0;
  opacity: 0;
}

.next{
  right: 0;
  opacity: 0;
}