@import url(reset.css);
@import url('colorPalette.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@400;600&display=swap');

/* 
maximo img: 1809
gap 32 : 27
colum left img: 67
gap-42 = 31
div left 212
gap 20 = 16


max nav width: 1810



*/ 
*{
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color6);
    margin: 0;
    padding: 0;
    color: var(--color6);
    height:100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: auto 1fr;

    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.left-grid{
    grid-column: 1;
    display: grid;
    grid-template-columns: 105px 105px;
    column-gap: 38px;
    height: 100%;
    background-color: var(--color3);
    width: max-content;
    padding: 38px;

}
.left-grid h2{
    grid-column: 1/span 2;
    color: white;
}
.left-grid > *{
    border:1px solid white;
}
.left-grid h1{
    grid-column: 2;
    color:white;
}

.central-grid{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(12, 95px);
    column-gap: 22px;
    padding: 48px;
    padding-top: 38px;
    background-color: var(--color6);
    margin:0;
    width: 100%;
    max-width: 100%;

}
.central-grid > *{
    border:1px solid white;
    
}


#search-bar{
    display: flex;
    grid-column: 1/span 6;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--color7);
    height: 31px;
    border: none;
    margin-top: 5px;    

    
}
#search-bar .material-icons{
    font-size: 25px;
    color: var(--color5);
    padding-left: 5px;
    padding-top: 2px;
    
}
#search-bar input{
    width:30vw;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    background-color: var(--color7);
    border: none;
    color:var(--color5);
    border-style: none;
    
}
#light-mode{
    grid-column: 10;
    display: flex;
    justify-content: right;
    text-align: center;
    color: var(--color5)
}
#light-mode span{
    font-size: 40px;
    border-radius: 50%;
    background-color: var(--color7);
    width: 50px;
    height: 50px;
    padding-top: 3px;
    margin-right: -40px;
    margin-top: 2px;

}
#notifications{
    grid-column: 11;
    display: flex;
    justify-content: right;
    margin-right: 0;
    text-align: center;
}
#notifications span{
    font-size: 40px;
    border-radius: 50%;
    background-color: var(--color7);
    width: 50px;
    height: 50px;
    color: var(--color5);
    margin-top: 2px;

}
#image-profile{
    grid-column: 12;   
    display: flex;
    justify-content: right;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Terry_Crews_by_Gage_Skidmore_5.jpg/800px-Terry_Crews_by_Gage_Skidmore_5.jpg');
    border:solid 3px ;
    border-color: var(--color2);
}

