body{
    background-image: url(/front-end-project/images/bitcoin.png);
    color: #0f3750;
    font-weight: bolder;
    font-size: 30px;
    background-size:cover;
   
  
 
}

#div-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
#form-login{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family:Arial;
    text-align: center;

}

#button-login{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    background-color: #2bc9c8;
    border: 0px;
    width: 60px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
    
}