 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("./reset.css");


 
body{
    background: linear-gradient(to left, #666, #b5b5b5);
}
.cssHeader{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 30px;
}
 
